@import "../base";

/* @define News */
.News {

}

.News-title {
  margin-bottom: 0.5em;
  font: var(--heading-font);
  font-size: 3rem;
}

@media (min-width: 900px) {
  .News--large .News-title {
    font-size: 5.5rem;
  }
}

.News-content {
  max-width: 33em;
}

.News-items {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem calc(var(--document-margin) / -2) 0;
  position: relative;
}

.News--large .News-items::before {
  content: "";
  flex: 1 0 100%;
  display: block;
  height: 5vh;
}

.News-item {
  position: relative;
}

.News-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.News-item {
  margin-bottom: calc(var(--document-margin) / 2);
  padding: 0 calc(var(--document-margin) / 2);
}

@media (min-width: 600px) {
  .News-item {
    flex: 0 1 33.333%;
  }

  .News-item + .News-item {
    border-left: 2px solid rgb(213, 206, 186);
  }

  .News-item:nth-child(3n+1) {
    border-left-color: transparent;
  }
}

.News-date {
  display: block;
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.News-heading {
  margin-bottom: 0.75em;
  font: var(--heading-font);
  font-size: 1.875rem;
  color: rgb(var(--dark-blue));
}

.News-item:hover .News-heading {
  text-decoration: underline;
}
