@import "../base";

/* @define Banner */
.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  padding: 8vh var(--document-margin);
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: #fff;
  text-align: center;
  margin: 6rem 0;
}

@media (min-width: 1000px) {
  .Banner {
    margin: 8rem 0 10rem;
  }
}

.Banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

.Banner-title {
  max-width: 11em;
  margin: -1rem 0 2rem;
  font: var(--heading-font);
  font-size: 2rem;
}

@media (min-width: 500px) {
  .Banner-title {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  .Banner-title {
    font-size: 4.5rem;
  }
}

@media (min-width: 1200px) {
  .Banner-title {
    font-size: 5.5rem;
  }
}

.Banner-label {
  display: block;
  margin-bottom: 2rem;
  font-family: var(--document-font-family);
  font-size: 1rem;
}

.Banner-image {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
  .Banner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
}
