@import "../base";

/* @define Recruit */
.Recruit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 900px) {
  .Recruit {
    flex-wrap: nowrap;
  }
}

.Recruit-image {
  flex: 0 1 375px;
  display: block;
  min-width: 20vw;
  height: auto;
}

@media (min-width: 900px) {
  .Recruit-image {
    margin-right: 7rem;
  }
}

.Recruit-content {
  flex: 1 1 auto;
  max-width: 38em;
}

.Recruit-title {
  margin: 2rem 0 1rem;
  font: var(--heading-font);
  font-size: 3rem;
  color: rgb(var(--dark-blue));
}

@media (min-width: 900px) {
  .Recruit-title {
    margin-top: 0;
    font-size: 4rem;
  }
}

.Recruit-actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.Recruit-action {
  margin: 0 1rem 1rem 0;
}

.Recruit-action--primary,
.Recruit-action--primary:hover {
  color: #fff;
  background-color: rgb(var(--dark-blue));
}
