@import "../base";

/* @define Recruit */
.Recruit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 600px) {
  .Recruit {
    flex-wrap: nowrap;
  }
}

.Recruit-image {
  display: block;
  min-width: 20vw;
  height: auto;
}

@media (min-width: 600px) {
  .Recruit-image {
    margin-right: 7rem;
  }
}

.Recruit-content {
  flex: 1 1 auto;
  max-width: 38em;
}

.Recruit-title {
  margin: 2rem 0 1rem;
  font: var(--heading-font);
  font-size: 3rem;
  color: rgb(var(--dark-blue));
}

@media (min-width: 900px) {
  .Recruit-title {
    margin-top: 0;
    font-size: 4rem;
  }
}

.Recruit-actions {
  display: flex;
  flex-wrap: wrap;
}

.Recruit-action,
.Recruit-action:hover {
  display: inline-block;
  padding: 0.7em 1em 0.6em;
  margin: 1rem 1rem 0 0;
  white-space: nowrap;
  font: var(--heading-font);
  font-size: 1.25rem;
  background-color: #fff;
  color: rgb(var(--dark-blue));
  border-radius: 4px;
}

.Recruit-action--primary,
.Recruit-action--primary:hover {
  color: #fff;
  background-color: rgb(var(--dark-blue));
}
