@import "../base";

/* @define Hero */
.Hero {
  width: 100%;
  padding-top: 9rem;
}

.Hero--image {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  min-height: 100%;
  min-height: 100vh;
}

.Hero-figure {
  flex: 0 0 70vh;
  min-height: 70vh;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.Hero-figure::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 20%);
}

.Hero-image {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Hero-image--landscape {
  min-width: auto;
  max-width: none;
}

.Hero-image--portrait {
  max-height: none;
  min-height: auto;
}

@supports (object-fit: cover) {
  .Hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: none;
    object-position: top;
  }
}

.Hero-body {
  position: relative;
}

.Hero-title {
  margin-bottom: 1.5rem;
  font: var(--heading-font);
  font-size: 3.5rem;
}

.Hero-label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-family: var(--document-font-family);
}

.Hero-description {
  margin-bottom: 2rem;
}

.Hero:not(.Hero--image) .Hero-body::before {
  content: "";
  display: block;
  flex: 0 1 25vh;
}

/**
 * 50/50 Layout
 */

@media (min-width: 600px) and (min-height: 600px) {
  .Hero--image {
    flex-direction: row;
  }

  .Hero-figure {
    flex: 0 1 50%;
    float: left;
    width: 50%;
    margin: 0;
  }

  .Hero--image .Hero-figure {
    min-height: 100vh;
  }

  .Hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Hero--image .Hero-body {
    flex: 0 1 50%;
    float: left;
    width: 50%;
    min-height: 100vh;
    margin-left: 0 !important;
  }

  .Hero--image .Hero-body > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  /* .Hero-body::before {
    content: "";
    display: block;
    flex: 0 1 25vh;
  } */

  .Hero--image .Hero-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7rem 0 2rem;
    font-size: 3rem;
  }

  .Hero-label {
    margin-bottom: 3rem;
  }

  .Hero-description {
    margin-bottom: var(--document-margin);
  }
}

@media (min-width: 800px) and (min-height: 600px) {
  .Hero--image .Hero-title {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) and (min-height: 600px) {
  .Hero--image .Hero-title {
    font-size: 4rem;
  }
}