@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--document-background));
}

/**
 * Header
 */

.View-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.View-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--document-margin) 0;
}

.View-logo {
  display: block;
  margin-right: auto;
  max-width: 6.8rem;
  color: rgb(var(--umber));
  transition: color 190ms var(--ease);
}

.View-logo:hover {
  color: rgb(var(--dark-umber));
  transition: color 120ms var(--ease-out);
}

.View--covered .View-logo,
.View--covered .View-logo:hover {
  color: #fff;
}

@media (min-width: 600px) {
  .View-logo {
    max-width: 8rem;
  }
}

@media (min-width: 800px) {
  .View-nav {
    padding: 3rem 0;
  }
}

@media (min-width: 800px) {
  .View-logo {
    max-width: 10rem;
  }
}

@media (min-width: 1300px) {
  .View-logo {
    max-width: 12.3rem;
  }
}

.View-menu {
  display: flex;
  align-items: baseline;
  margin-left: var(--document-margin);
}

.View-link {
  position: relative;
  display: inline-block;
  margin: 0 0.2rem;
  padding: 0.2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: rgb(var(--document-color));
  font-size: 0.875rem;
  white-space: nowrap;
  font-weight: 500;
}

@media (max-width: 900px) {
  .View--covered .View-link {
    color: #fff;
  }
}

.View-link:not(.View-link--highlighted)::after {
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 0.2rem;
  width: calc(100% - 0.4rem);
  height: 1px;
  background: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.View-link:not(.View-link--highlighted):hover::after {
  transform: scaleX(1);
}

.View-link--highlighted {
  padding: 0.2em 0.6em 0.3em;
  margin: 0 0.4rem;
  border-radius: 4px;
}

.View-link--highlighted,
.View-link--highlighted:hover {
  background-color: rgb(var(--burkina-blue));
  color: #fff;
}

.View-link--highlighted::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: -10%;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.17);
  transform: skew(-25deg) translateX(-100%);
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
}

.View-link--highlighted:hover::before {
  transform: skew(-25deg) translateX(0%);
}

@media (min-width: 500px) {
  .View-link {
    margin: 0 0.5rem;
  }

  .View-link--highlighted {
    margin: 0 1rem;
  }
}

@media (min-width: 800px) {
  .View-link {
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
  }

  .View-link:not(.View-link--highlighted)::after {
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 2px;
    bottom: 0.4em;
  }

  .View-link--highlighted {
    padding: 0.4rem 1rem 0.5rem;
    margin: 0 1rem;
  }
}

@media (min-width: 900px) {
  .View-link--light {
    color: #fff;
  }

  .View-link--highlighted.View-link--light {
    background-color: #fff;
    color: rgb(var(--dark-blue));
  }

  .View-link--highlighted.View-link--light::before {
    background-color: rgb(240, 245, 254);
  }
}

.View-link:last-child {
  margin-right: 0;
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.View-main--background::before {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  left: -25%;
  top: 0;
  z-index: -1;
  transform: translateX(0%) skew(-25deg);
  background-color: rgba(0, 0, 0, 0.02);
  animation: View-main--appearing 800ms 350ms forwards cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

@keyframes View-main--appearing {
  to {
    transform: translateX(45%) skew(-25deg);
  }
}

.View-space {
  display: block;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.View-space--hero::before {
  content: "";
  display: block;
  height: 15vh;
}

/**
 * Footer
 */

.View-footer {
  padding: var(--document-margin) 0;
  overflow: hidden;
  background: rgb(var(--dark-blue));
  color: #fff;
}

.View-heading {
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.View-shortcut {
  display: inline-block;
  padding: 0.3em 0;
}
