:root {
  --dark-blue: 31, 75, 162;
  --burkina-blue: 0, 92, 215;
  --sand: 213, 206, 186;
  --umber: 186, 103, 64;
  --dark-umber: 148, 82, 51;
  --light-grey: 240, 240, 240;

  --color-muted: 0, 0, 0, 0.5;
  --color-link: var(--dark-blue);

  --heading-font-family: mono45-headline, monospace;
  --heading-font-weight: 500;
  --heading-font-style: normal;
  --heading-line-height: 1;
  --heading-font: var(--heading-font-style) var(--heading-font-weight) 1em/var(--heading-line-height) var(--heading-font-family);

  --document-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --document-line-height: 1.5;

  --document-background: var(--light-grey);
  --document-color: 55, 55, 55;

  --document-width: 1800px;
  --document-margin: 0.5rem;

  --container-large-width: var(--document-width);
  --container-medium-width: 60rem;
  --container-small-width: 50rem;

  --loading-color: 0, 0, 0, 0.06;
  --loading-color-solid: 235, 235, 235;

  --focus-ring-width: 0.3rem;
  --focus-ring-color: 255, 146, 0;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 350px) {
  :root {
    --document-margin: 0.75rem;
  }
}

@media (min-width: 400px) {
  :root {
    --document-margin: 1rem;
  }
}

@media (min-width: 500px) {
  :root {
    --document-margin: 1.5rem;
  }
}

@media (min-width: 600px) {
  :root {
    --document-margin: 2.5rem;
  }
}

@media (min-width: 800px) {
  :root {
    --document-margin: 3rem;
  }
}

@media (min-width: 900px) {
  :root {
    --document-margin: 3.5rem;
    --container-medium-width: 70rem;
    --container-small-width: 55rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --document-margin: 5rem;
    --container-medium-width: 80rem;
    --container-small-width: 65rem;
  }
}
