@import "../base";

:root {
  --Zigzag-inview: 0;
}

/* @define Zigzag */
.Zigzag {
  width: 100%;
  overflow: hidden;
  margin: 6rem 0;
}

@media (min-width: 600px) {
  .Zigzag-item,
  .Zigzag-button {
    float: left;
    width: 50%;
  }
}

@supports (display: grid) {
  @media (min-width: 600px) {
    .Zigzag {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding-top: 10vh;
    }

    .Zigzag-item {
      width: 100%;
      height: 100%;
    }

    .Zigzag-item:nth-child(2n+1),
    .Zigzag-button:nth-child(2n+1) {
      transform: translateY(calc(-10vh + 10vh * (1 - var(--Zigzag-inview))));
    }

    .Zigzag--static .Zigzag-item:nth-child(2n+1),
    .Zigzag--static .Zigzag-button:nth-child(2n+1) {
      transform: translateY(-10vh);
    }
  }
}

.Zigzag-button,
.Zigzag-button:hover {
  display: block;
  height: 6rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  font: var(--heading-font);
  font-size: 1.5rem;
  line-height: 6rem;
  white-space: nowrap;
  color: rgb(var(--document-color));
  background-color: #fff;
  text-align: center;
}

@media (min-width: 1000px) {
  .Zigzag-button,
  .Zigzag-button:hover {
    height: 10vh;
    line-height: 10vh;
  }
}

.Zigzag-button::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("./chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.45em;
  position: relative;
  top: 0.15em;
}

.Zigzag-button::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: -10%;
  top: 0;
  z-index: -1;
  background-color: rgb(240, 245, 254);
  transform: skew(-25deg) translateX(-100%);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
}

.Zigzag-button:hover::before {
  transform: skew(-25deg) translateX(0%);
}
