@import "../global";

/* @define utilties */
.u-colorDarkBlue { color: rgb(var(--dark-blue)) !important; }
.u-colorBurkinaBlue { color: rgb(var(--burkina-blue)) !important; }
.u-colorSand { color: rgb(var(--sand)) !important; }
.u-colorUmber { color: rgb(var(--umber)) !important; }
.u-colorLightGrey { color: rgb(var(--light-grey)) !important; }

.u-bgDarkBlue { background-color: rgb(var(--dark-blue)) !important; }
.u-bgBurkinaBlue { background-color: rgb(var(--burkina-blue)) !important; }
.u-bgSand { background-color: rgb(var(--sand)) !important; }
.u-bgUmber { background-color: rgb(var(--umber)) !important; }
.u-bgLightGrey { background-color: rgb(var(--light-grey)) !important; }
